[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
matplotlib = "~=3.3.3"
pandas = "~=1.2.0"
jupyterlab = "~=3.0.5"
sklearn = "*"
kaggle = "*"
pytest = "*"
jupyter = "*"
click = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.9"
