[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
matplotlib = "*"
pandas = "*"
sklearn = "*"
kaggle = "*"
pytest = "*"
jupyter = "*"
click = "*"
python-dotenv = "*"
nodejs = "*"
jupyterlab = "*"
src = {editable = true, path = "."}
pandas-profiling = "*"
seaborn = "*"
lckr-jupyterlab-variableinspector = "*"
xgboost = "*"
catboost = "*"

[dev-packages]

[requires]
python_version = "3.8"
